Repository ClementOrn/RideShare: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, solhint --fix

refactor: refactor code structure
  hardhat.config.js
  package.json
  script.js
Due: eslint --fix, prettier --write

refactor: refactor code structure in scripts
  contracts/PrivateRideShare.sol
  public/index.html
  public/script.js
  scripts/deploy.js
Due: eslint --fix, prettier --write, solhint --fix

docs: update README
  README.md
Due: prettier --write

chore: update package.json
  package.json
Due: prettier --write

refactor: remove unused code: script
  script.js
Due: eslint --fix, prettier --write

chore: chore: delete index.html
  index.html
Due: none

chore: update vercel.json
  vercel.json
Due: prettier --write

chore: update .gitignore
  .gitignore
Due: none

docs: update DEPLOYMENT_GUIDE documentation
  DEPLOYMENT_GUIDE.md
Due: prettier --write

feat: add new features
  deploy.md
  index.html
  package.json
  script.js
  vercel.json
Due: eslint --fix, prettier --write

docs: update UPLOAD_INSTRUCTIONS documentation
  UPLOAD_INSTRUCTIONS.txt
Due: none

chore: chore: create .vercelignore
  .vercelignore
Due: none

feat: add new features
  deploy-static.bat
  deploy-static.sh
Due: none

chore: chore: update .vercelignore
  .vercelignore
Due: none

chore: update package.json
  .next/package.json
Due: prettier --write

chore: add assets
  public/index.html
  public/script.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: ((any of: *.{ts,tsx,js,jsx}) or (any of: *.sol)) or (any of: *.{json,md,css})
  solhint --fix: any of: *.sol
