Repository ClementOrn/RideShare: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, solhint --fix

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.sol": [
    "solhint --fix",
    "prettier --write"
  ],
  "*.{json,md,css}": [
    "prettier --write"
  ]
}

feat: add new features in PrivateRideShare (40 files)
  PrivateRideShare/Demo Video.mp4
  PrivateRideShare/MIGRATION-GUIDE.md
  PrivateRideShare/On-Chain Transaction Example.png
  PrivateRideShare/README-NEXTJS.md
  PrivateRideShare/README.md
  PrivateRideShare/contracts/PrivateRideShare.sol
  PrivateRideShare/deploy.md
  PrivateRideShare/hardhat.config.js
  PrivateRideShare/index.html
  PrivateRideShare/next.config.js
  PrivateRideShare/package.json
  PrivateRideShare/postcss.config.js
  PrivateRideShare/public/favicon.ico
  PrivateRideShare/public/index.html
  PrivateRideShare/public/legacy/index.html
  PrivateRideShare/public/legacy/script.js
  PrivateRideShare/public/script.js
  PrivateRideShare/script.js
  PrivateRideShare/scripts/deploy.js
  PrivateRideShare/src/app/globals.css
  PrivateRideShare/src/app/layout.tsx
  PrivateRideShare/src/app/page.tsx
  PrivateRideShare/src/app/providers.tsx
  PrivateRideShare/src/components/AvailableRides.tsx
  PrivateRideShare/src/components/DriverTab.tsx
  PrivateRideShare/src/components/Header.tsx
  PrivateRideShare/src/components/PassengerTab.tsx
  PrivateRideShare/src/components/RideCard.tsx
  PrivateRideShare/src/components/RidesTab.tsx
  PrivateRideShare/src/hooks/useRideShare.ts
  PrivateRideShare/src/hooks/useWallet.ts
  PrivateRideShare/src/lib/fhevm/client.ts
  PrivateRideShare/src/lib/utils/coordinates.ts
  PrivateRideShare/src/lib/utils/format.ts
  PrivateRideShare/src/types/contract.ts
  PrivateRideShare/src/types/global.d.ts
  PrivateRideShare/src/types/rideshare.ts
  PrivateRideShare/tailwind.config.js
  PrivateRideShare/tsconfig.json
  PrivateRideShare/vercel.json
Due: eslint --fix, prettier --write, solhint --fix

docs: update README
  README.md
Due: prettier --write

Add files via upload
  contracts/PrivateRideShare.sol
  docs/API.md
  docs/ARCHITECTURE.md
Due: prettier --write, solhint --fix

Add files via upload
  README.md
Due: prettier --write

Delete README.md
  README.md
Due: prettier --write
